<div class="btn-group-fab" [class.active]="isFabActive">
  <div>
    <button *ngIf="buttons.length > 1" type="button" class="btn text-light btn-main btn-primary"
      (click)="toggleFab()">
      <i [ngClass]="isFabActive ? 'fa fa-close' : 'fa fa-ellipsis-v'"></i>
    </button>
    <button type="button" class="btn text-light btn-sub"
      *ngFor="let btn of buttons; let i = index" (click)="onClick(btn.id)" [style.backgroundColor]="btn.color">
      <i [ngClass]="'fa ' + btn.icon"></i>
    </button>
  </div>
</div>