<h2 mat-dialog-title>Settings</h2>
<mat-dialog-content>
	<div class="card">
		<div class="card-body">
			<h4>General</h4>
			<form [formGroup]="generalSettingForm">
				<label>Current map styles</label>
				<div class="form-group">
					<div class="form-check form-check-inline">
						<input formControlName="map_style" class="form-check-input" type="radio" value="light">
						<label class="form-check-label">Light</label>
					</div>
					<div class="form-check form-check-inline">
						<input formControlName="map_style" class="form-check-input" type="radio" value="dark">
						<label class="form-check-label">Dark</label>
					</div>
					<div class="form-check form-check-inline">
						<input formControlName="map_style" class="form-check-input" type="radio" value="satellite">
						<label class="form-check-label">Satellite</label>
					</div>
					<div class="form-check form-check-inline">
						<input formControlName="map_style" class="form-check-input" type="radio" value="street">
						<label class="form-check-label">Street</label>
					</div>
					<div class="form-check form-check-inline">
						<input formControlName="map_style" class="form-check-input" type="radio" value="outdoor">
						<label class="form-check-label">Outdoor</label>
					</div>
				</div>
				<label>Make my flights public</label>
				<div class="form-group">
					<div class="form-check form-check-inline">
						<input formControlName="flight_is_public" class="form-check-input" type="radio" [value]="true">
						<label class="form-check-label">Yes</label>
					</div>
					<div class="form-check form-check-inline">
						<input formControlName="flight_is_public" class="form-check-input" type="radio" [value]="false">
						<label class="form-check-label">No</label>
					</div>
				</div>
			</form>
		</div>
	</div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close class="btn btn-secondary">Close</button>
</mat-dialog-actions>