<h2 mat-dialog-title>List of Flights</h2>
<mat-dialog-content class="mat-typography">
  <ag-grid-angular sizecol style="width: 65vw; height: 65vh;" class="ag-theme-alpine" [rowData]="rowData" [columnDefs]="columnDefs" (gridReady)="onGridReady($event)">
  </ag-grid-angular>
</mat-dialog-content>