.whether-icon-container
  position: relative
  width: auto
  height: auto
  right: 1em
  bottom: 1em
  z-index: 2
  float: right
  .whether-icon-content
    position: absolute
    bottom: 0
    right: 4em
    width: 18em
.geocoding-details
  background-color: rgba(255, 255, 255, 0.4)
.geocoding-details > *
  margin: 0
  text-overflow: ellipsis
  overflow: hidden
  display: -webkit-box
  -webkit-line-clamp: 1
  -webkit-box-orient: vertical