<div class="whether-icon-container">
  <div class="whether-icon-content d-flex flex-1 justify-content-end">
    <div class="geocoding-details d-flex flex-column p-2 justify-content-end align-items-end">
      <p>{{ locationName }}</p>
      <p>Lng: {{ lng | number: '1.2-2' }}, Lat: {{ lat | number: '1.2-2' }}</p>
      <small>{{ convertedLngLattoDMS }}</small>
    </div>
    <div class="d-flex flex-column bg-white p-2 justify-content-between align-items-center">
      <h3><i [ngClass]="'fa ' + icon" [title]="weather[0]?.description | titlecase"></i></h3>
      <small>{{((currTemp * 9/5) + 32) | number: '1.2-2'}}°F</small>
      <small>{{currTemp | number : '1.2-2'}}°C</small>
    </div>
  </div>
</div>