<router-outlet></router-outlet>
<ngx-spinner></ngx-spinner>
<swal #tnc
  text="By clicking “ACCEPT” you are indicating that you agree to Company's Terms and Conditions, you understand Company's Privacy Policy and you consent to the use of cookies on your device in accordance with our cookie policy. You can change your cookie settings at any time but parts of our site and services will not function correctly without them."
  icon="info" confirmButtonText="ACCEPT" (confirm)="acceptTnc()" [allowOutsideClick]="false">
</swal>