<router-outlet></router-outlet>
<div class="d-flex">

  <div class="vw-25 sidebarMenu d-none d-md-flex flex-column justify-content-between border-shadow vh-100 overflow-auto"
    *ngIf="!isFormShow" [@sidebar] (@sidebar.done)="onSidebarAnimationDone($event)">
    <div class="flex-grow-1 overflow-auto">
      <div class="list-group list-group-flush">
        <a class="list-group-item list-group-item-action" routerLink="/">Logo Here</a>
        <a class="list-group-item list-group-item-action" routerLink="/flights" routerLinkActive="active">
          <i class="fa fa-calendar"></i> Flights
        </a>
        <a class="list-group-item list-group-item-action" routerLink="/aircrafts" routerLinkActive="active">
          <i class="fa fa-plane"></i> My Aircraft
        </a>
        <a class="list-group-item list-group-item-action" routerLink="/profile" routerLinkActive="active">
          <i class="fa fa-user"></i> Profile
        </a>
        <a class="list-group-item list-group-item-action" routerLink="/settings" routerLinkActive="active">
          <i class="fa fa-cog"></i> Settings
        </a>
      </div>
    </div>
    <div class="overflow-auto">
      <div class="list-group list-group-flush">
        <a class="list-group-item list-group-item-action">Connection Status</a>
        <a class="list-group-item list-group-item-action" routerLink="/support" routerLinkActive="active">
          <i class="fa fa-headset"></i> Support
        </a>
        <a class="list-group-item list-group-item-action">
          <i class="fa fa-sign-out-alt"></i> Logout
        </a>
      </div>
    </div>
  </div>

  <app-map [toggleDrawMode]="isFormShow" [easeTo]="easeTo" (mapLoaded)="onMapLoaded($event)"
    [initExtrusionOpt]="extrusionOpt" [initExtrusionHeight]="extrusionHeight" [initExtrusionRadius]="extrusionRadius"
    (drawUpdated)="onDrawUpdated($event)" [drawings]="allDrawing" (currentCoordinate)="onCurrentCoordinate($event)"
    (visibleMapCentroid)="onVisibleCentroidChange($event)" (drawDeleted)="onDrawDeleted($event)"
    [triggerBuildMap]="buildMap" [mapStyle]="mapStyle">

    <app-fab-button [buttons]="fabButtons" (click)="onFabClick($event)"></app-fab-button>
    <app-small-weather-widget [lng]="smallWeatherWidgetCoordinate[0]" [lat]="smallWeatherWidgetCoordinate[1]">
    </app-small-weather-widget>
    <div #mobileFlightForm class="flight-form d-flex d-md-none" *ngIf="isFormShow" [@mobileFlightForm]
      (@mobileFlightForm.done)="onAnimationDone($event)">
      <app-fights-form class="w-100 overflow-auto" (altitude)="onAltitudeChange($event)"
        (radius)="onRadiusChange($event)"></app-fights-form>
    </div>
    <ul class="nav nav-pills nav-fill d-md-none border-shadow" *ngIf="!isFormShow" [@mobileMenu]>
      <li class="nav-item">
        <a class="nav-link" routerLink="/flights" routerLinkActive="active">Flights</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/aircrafts" routerLinkActive="active">My Aircraft</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/profile" routerLinkActive="active">Profile</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/settings" routerLinkActive="active">Settings</a>
      </li>
      <li class="nav-item dropup" [class.show]="isDropdownShow" (click)="onToggleDropdown()">
        <a class="nav-link dropdown-toggle">More</a>
        <div class="dropdown-menu dropdown-menu-right" [class.show]="isDropdownShow">
          <a class="dropdown-item">Connection Status</a>
          <a class="dropdown-item" routerLinkActive="active"
            (click)="onClickDropdownList(undefined, '/support')">Support</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" (click)="onClickDropdownList('logout', undefined)">Logout</a>
        </div>
      </li>
    </ul>
  </app-map>

  <div class="vw-40 flight-form d-none d-md-flex flex-column min-vh-100 border-shadow" *ngIf="isFormShow" [@flightForm]
    (@flightForm.done)="onAnimationDone($event)">
    <app-fights-form (altitude)="onAltitudeChange($event)" (radius)="onRadiusChange($event)"></app-fights-form>
  </div>

</div>