.sidebarMenu, .flight-form
  z-index: 1
.vw-25
  width: 25vw
.vw-40
  width: 40vw
.hide
  height: 0px !important
  pointer-events: none !important
  visibility: hidden !important
  padding: 0 !important
  margin: 0 !important
.flight-form
  max-height: 40vh
  form
    overflow: scroll
    margin: .5em .5em 1em .5em
    padding: .5em
app-map
  height: 100vh
  display: flex
  flex-grow: 1
  flex-direction: column
i
  min-width: 1.5em