<form [formGroup]="flightForm">
  <div class="form-group">
    <label><strong>Radius</strong> ({{flightForm.get('flightRadius').value}} m)</label>
    <input formControlName="flightRadius" type="range" class="custom-range" min="1" max="1000"
      [value]="flightForm.get('flightRadius').value" (change)="onRadiusChange($event)">
  </div>
  <div class="form-group">
    <label><strong>Altitude</strong> ({{flightForm.get('flightAltitude').value}} m)</label>
    <input formControlName="flightAltitude" type="range" class="custom-range" min="1" max="1000"
      [value]="flightForm.get('flightAltitude').value" (change)="onAltitudeChange($event)">
  </div>
  <div class="form-group">
    <label><strong>Date & Time</strong></label>
    <input type="date" class="form-control form-control-sm">
  </div>
  <div class="form-group">
    <label><strong>Duration</strong>: {{ minuteToHourMinute(flightForm.get('duration').value) }}</label>
    <input formControlName="duration" type="range" class="custom-range" min="1" max="1000"
      [value]="flightForm.get('duration').value">
  </div>
  <div class="form-group">
    <label><strong>Pilot & Aircraft</strong></label>
    <select formControlName="pilot" class="custom-select custom-select-sm"
      [value]="flightForm.get('pilot').value">
      <option selected>None</option>
      <option value="1">Pilot 1</option>
      <option value="2">Pilot 2</option>
      <option value="3">Pilot 3</option>
    </select>
    <select formControlName="aircraft" class="custom-select custom-select-sm"
      [value]="flightForm.get('aircraft').value">
      <option selected>None</option>
      <option value="1">Aircraft 1</option>
      <option value="2">Aircraft 2</option>
    </select>
  </div>
  <p><strong>Flight Context</strong></p>
  <label>Is this flight occuring within visual line of sight (VLOS)?</label>
  <div class="form-group">
    <div class="form-check form-check-inline">
      <input formControlName="vlos" class="form-check-input" type="radio" value="1">
      <label class="form-check-label">Yes</label>
    </div>
    <div class="form-check form-check-inline">
      <input formControlName="vlos" class="form-check-input" type="radio" value="2">
      <label class="form-check-label">No</label>
    </div>
  </div>
  <label>Does the flight occur over people?</label>
  <div class="form-group">
    <div class="form-check form-check-inline">
      <input formControlName="overPeople" class="form-check-input" type="radio" value="1">
      <label class="form-check-label">Yes</label>
    </div>
    <div class="form-check form-check-inline">
      <input formControlName="overPeople" class="form-check-input" type="radio" value="2">
      <label class="form-check-label">No</label>
    </div>
  </div>
  <div class="form-group">
    <label>What is the weight of the drone? ({{flightForm.get('aircraftWeight').value}} kg)</label>
    <input formControlName="aircraftWeight" type="range" class="custom-range" min="1" max="100" step="0.5"
      [value]="flightForm.get('aircraftWeight').value">
  </div>
  <button type="submit" class="btn btn-sm btn-primary btn-block">BRIEF FLIGHT PLAN</button>
</form>